.flex-container{
    display: flex;
    background-color: darkcyan;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* Alternative method */
.flex-container > div{
    width: 100px;
    height: 100px;
    padding: 15px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}

.flex-container1{
    display: flex;
    background-color: azure;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-container1 > div{
    width: 100px;
    height: 100px;
    padding: 15px;
    background-color: red;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}