*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}
.title{
    margin-bottom: 10px;
    text-decoration: aliceblue;
}
.photogallery{
    display: flex;
    gap: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photo img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
}
@media (max-width: 768px){
    .photogallery{
        flex-direction: column;
    }
}
